<!DOCTYPE html>
<html>
<head>
    <title>purify</title>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>

<script>
SC.initialize({
    client_id: 'eee3748e069929800832551465ce60f5',
    redirect_uri: 'http://localhost:3000/callback'
});

function authenticate() {
    SC.connect().then(function() {
        return SC.get('/me');
    }).then(function(me) {
        alert('Hello, ' + me.username);
    });
}
</script>
<button onclick="authenticate()">Login</button>


<!-- search bar  -->
<script>
function doSearch() {
    var query = $("#search").val();
    console.log(query);
    // Substitute this line with whatever code you use to do an AJAX call
    // Essentially call a serverside page by passing the search keyword and
    // call onReturn afterwards
    SC.get('/tracks', {
        q: query
    }).then(function(tracks) {
        console.log(tracks);
    });
}
</script>
<input id="search" /> <input type="button" onclick="doSearch()" />
<div id="results"></div>

<!-- end    -->

</body>
</html>
